###### - 판다스(Pandas)
-

import pandas as pd
import numpy as np
- python은 배열이라는 개념이 없음. 배열을 만드는데 도움을 주는 모듈.
- python은 리스트. 리스트는 배열에 비해 느림.

In [2]:
# pandas 버전 출력하기
import pandas as pd
import numpy as np
pd.__version__

'1.0.5'

In [3]:
# Series 정의하기
# - R의 vector와 동일한 자료구조
# - 데이터를 일렬로 나열한 구조
# - Series의 데이터는 모두 동일한 데이터 유형

In [4]:
obj = pd.Series([5, 7, 9, 4])

In [5]:
# - obj 0123 -> 방 순서

In [6]:
# Series의 함수들
# - 값 확인하기
obj.values
# - 자료형 확인하기
obj.dtypes
# - 인덱스 확인하기 -> 방의 순서(0번째방부터 4번째방 전까지 1씩 증가)
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
dic_01 = {'seoul': 87000, 'busan':65000, 'daejeon':55000}
cities = pd.Series(dic_01)

In [8]:
cities
# cities의 busan방에 65000이 있어요. 
cities['busan']
obj[1]

7

In [9]:
# 실습하기 cities의 index를 'A','B','C'로 변경해주세요.
cities.index

Index(['seoul', 'busan', 'daejeon'], dtype='object')

In [10]:
cities.index = ['A','B','C']
cities
# R, python 변경방식 유사.

A    87000
B    65000
C    55000
dtype: int64

In [11]:
# 실습하기. cities의 B의 값을 10000으로 변경해주세요.
# cities.values[1] = 10000 내 방식
cities['B'] = 10000
cities

A    87000
B    10000
C    55000
dtype: int64

In [12]:
# 전체 평균 구하기
# [1,2,3].mean() 오류! 리스트는 불가능.
cities.mean()

50666.666666666664

## DataFrame
- R의 Dataframe과 동일
- 행과 열로 데이터를 표현
- 데이터의 유형은 자유롭게 가능합니다.
- (이 기종의 데이터를 적재할 수 있습니다.)

In [13]:
# 딕셔너리 자료형으로 데이터프레임 만들기
dic_02 = {'seoul': [87000, 0], 'busan': [65000, 1], 'daejeon': [55000, 1]}
df = pd.DataFrame(dic_02)
# - Key = 열

In [14]:
# 리스트 자료형으로 데이터프레임 만들기
my_list = [['tom',10],['nick',15],['korea',11]]
df = pd.DataFrame(my_list)
# 0번쨰 열 : tom, nick, korea
# 1번째 열 : 10, 15, 11

In [15]:
['tom',10][0]
['nick',11][1]

11

In [16]:
# dataframe에서 사용하는 함수
df.columns
list(df.columns)

# - 모양 보기(몇개의 행과 열로 이루어져있는지)
# - 2행 3열인 df  
# - df.shape = (2,3) -> 2행 3열
df.shape
# - 행(길이) 보기
len(df)

3

In [17]:
print(df)
print(df)
# 이렇게 할 경우, 모양이 깨진다.

       0   1
0    tom  10
1   nick  15
2  korea  11
       0   1
0    tom  10
1   nick  15
2  korea  11

In [18]:
# 위의 문제 해결방법!! display() 사용하기
display(df)
display(df)

       0   1
0    tom  10
1   nick  15
2  korea  11

       0   1
0    tom  10
1   nick  15
2  korea  11